@(id: Integer, timezoneViewForm: Form[models.basic.Timezone])

@import helper._
@import helper.twitterBootstrap._
@import helpers._

@title = {}

@main(title = Messages("timezones.edit"), nav = "create") {

    @if(timezoneViewForm.hasErrors) {
        <div class="alert alert-dismissable alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>@Messages("generic.error.title")</strong> @Messages("generic.error.content")
            <p>@timezoneViewForm.errorsAsJson</p>
        </div>
    }


    @helper.form(controllers.routes.TimezonesView.update(id), 'enctype -> "multipart/form-data") {

    <fieldset>
        <legend>@Messages("timezones.info")</legend>


        @inputText(
            timezoneViewForm("name"),
            '_label -> Messages("timezones.name"),
            '_help -> Messages("timezones.name.help"),
            'class -> "form-control",
            '_error -> timezoneViewForm.globalError
        )

    </fieldset>

    <div class="actions">
        <input type="submit" value=@Messages("timezones.submit.update") class="btn btn-success">
        <a href="@controllers.routes.TimezonesView.list()" class="btn btn-primary">@Messages("generic.cancel")</a>
    </div>

    }

    @form(controllers.routes.TimezonesView.delete(id), 'class -> "topRight") {
        <input type="submit" value=@Messages("timezones.submit.delete") class="btn btn-danger">

    }

}
